spring:
  batch:
    job.enabled: true # true: 앱 구동시 job 실행 함
    jdbc.initialize-schema: always
  mail:
    host: smtp.gmail.com
    port: 587
    username: e101himart@gmail.com
    password: crtaukwikljlamom
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  datasource:
  
# 개발용
    url: jdbc:h2:tcp://localhost/~/datajpa
    username: sa
    password:
    driver-class-name: org.h2.Driver

# Batch 테스트
#      url: jdbc:mysql://localhost:3306/hishop?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
#      username: root
#      password: e101ssafy!@
#      driver-class-name: com.mysql.cj.jdbc.Driver

# 배포용
#    url: jdbc:mysql://13.125.42.187:3306/hishop?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
#    username: e101
#    password: e101ssafy!@
#    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
#    database: mysql
#    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
#  profiles:
#    active:

#  batch:
#    job.enabled: true # true: ? ??? job ?? ?
#    jdbc.initialize-schema: always

logging:
  level:
    org.hibernate.sql: debug
    org.hibernate.type: trace
    com.zaxxer.hikari.HikariConfig: DEBUG
    com.zaxxer.hikari: TRACE
#    org.springframework : debug
#    org.springframework.web : debug